<div class="row ">
  <div class="col-12 card">
    <div class="card-body">
      <h5 class="card-title">{{org.name}}</h5>
      <p class="card-subtitle mb-2 text-muted">{{org.description}}</p>
      <div class="card-text" *ngIf="showProfile">
        <table class="table table-borderless">
          <td class="row">
            <div class="col-lg-6">{{org.facebookUrl}}</div>
            <div class="col-lg-6">{{org.facebookUrl}}</div>
          </td>
        </table>

      </div>
    </div>
  </div>
</div>

