<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">Your Organization</h5>
      <div class="card-body">
        <h5 class="card-title">{{organization.name}}</h5>
        <p class="card-text">{{organization.description}}</p>
        <div class="row">
          <div class="col-6">
            <a href="#" class="btn btn-primary btn-block">Change<br/>Organization</a>
          </div>
          <div class="col-6">
            <a href="#" class="btn btn-info btn-block">Contact<br/>Organization</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
