<p class="lead">
  Welcome Reddy!
</p>

<div class="col-12" >
  <app-org-item [org]="org" [showProfile]="true"></app-org-item>
  <ul class="list-unstyled">
    <li><a class="nav-link btn btn-block col-xl-12 text-center text-muted" href="https://amandathepanda.org/">Visit Website</a></li>
    <li><a class="nav-link btn btn-block col-xl-12 text-center text-muted" href="tel:207 939 4197">Call Us</a></li>
    <li><a class="nav-link btn btn-block col-xl-12 text-center text-muted" href="mailto:info@charity.org">Email Us</a></li>
    <li><a class="nav-link btn btn-block col-xl-12 text-center text-muted" href="#" [routerLink]="['']">Bash to Dashboard</a></li>
  </ul>
</div>

