<div class="container">
  <div class="row">
    <div class="col-12">
      <br/>
      <h5 class="text-center">Welcome, [[firstName]]!</h5>
    </div>
  </div>
  <br/>
  <app-organization-selected-item [organization]="organization"></app-organization-selected-item>
  <br/>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Select a Project</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <app-project-item *ngFor="let project of projects" [project]="project" (click)="setSelectedProject(project)"></app-project-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <app-check-in-out-widget [project]="selectedProject"></app-check-in-out-widget>
</div>

