<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-center">Welcome, [[firstName]]!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">Current org goes here...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="height: 25px"></div>
      <h4 class="text-center">Select a Project</h4>
      <div style="height: 25px"></div>
    </div>
    <div class="col-12" >
      <app-project-item *ngFor="let project of projects" [project]="project"></app-project-item>
    </div>
  </div>
</div>

